# --- Base de Datos (PostgreSQL) ---
POSTGRES_VERSION=18
POSTGRES_DB=mi_base_de_datos
POSTGRES_USER=mi_usuario
POSTGRES_PASSWORD=mi_contraseña_segura
POSTGRES_HOST_PORT=5432

# --- Kafka ---
KAFKA_VERSION=latest
KAFKA_EXTERNAL_PORT=9092
# Para desarrollo local (localhost) usa: EXTERNAL://localhost:9092
# Si usas un túnel (Pinggy/Ngrok), reemplaza con tu URL: EXTERNAL://tu-url:puerto
KAFKA_ADVERTISED_EXTERNAL=EXTERNAL://localhost:9092

# --- Kafdrop ---
KAFDROP_VERSION=latest
KAFDROP_HOST_PORT=9000